*{margin: 0px;
padding: 0;}

html{height:100%;}




body{
    background-color: white;
    /* background :url(../img/3.png) no-repeat center center ; */
    
    background-size: cover;
    color:rgb(0, 0, 0);
    overflow:hidden;

}

.abut button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 0;
    outline: 0;
    background-color: rgb(0, 0, 0);
    

	border-radius: 50%;

	width: 24px;

	height: 24px;
    position: absolute;
  top: 24px;
    right: 24px;
    z-index: 1;

    
  }
  .abut button img{
      width: 12px;
  }


#wrap{
    position: relative;
}

#wrap canvas{
    position: absolute;
}
.canvas{width: 100%;
z-index: -100;}

#overlay{width: 100%; position: relative;
}

.dropdown {
    z-index: 1;
    position: absolute;
    top: 24px;
    left: 24px;
    display: inline-block;
    

	top: 18px;

	right: 18px;

	text-align: center;

	background-color: rgb(0, 0, 0);

	border-radius: 50%;

	width: 24px;

	height: 24px;

	font-size: 14px;

	line-height: 26px;

	cursor: default;
    color: rgb(255, 255, 255);
    font-weight: bold;
  }
  
  .dropdown-content {
    margin: 8px;
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 360px;
    border: 1px solid gray;
    color: black;
    /* box-shadow: 0px 8px 16px 0px rgba(255,255,255,0.8); */
    padding: 12px 16px;
    z-index: 1;
    text-align: left;
    font-weight: normal;
  }

  .dropdown-content h6{
   font-weight: normal;

  }

  .dropdown-content h5{
    font-weight: normal;
    text-align: end;
 
   }

  .dropdown:hover .dropdown-content {
    display: block;
  }



.river{
    /* position: absolute; */
    position: relative;
    width: 100%;
    font-size: 10pt;
    line-height: 14pt;
    z-index: 1;
    /* display:inline-block; */
   
    
}
.river .test p , .test2 p , .test3 p{
    display:inline-block;
    opacity: 0.5;
    
    
    /* background-color: rgb(255, 255, 255); */
}


.river .test p:hover , .test2 p:hover , .test3 p:hover{
    font-weight: 600;
    
    color:white;
    background-color: black;
    opacity: 1;
    transform: scale( 1.2 );
    padding-right: 5px;
    
    
}


.river > .test{
   
    width:2000%;
  /* height:14pt; */
  /* background:white; */
 
     
    position:relative;
  
   
    /* 애니메이션 이름 */
    animation-name: direction;
    animation-duration:100s;
    /* animation-duration: leaner; */
    animation-iteration-count:infinite;
    animation-direction:normal;
    
    animation-fill-mode: forwards;
  }

  .river > .test2{
   
    width:2000%;
  /* height:14pt; */
  /* background:white; */
 
     
    position:relative;
    /* float: left; */
  
   
    /* 애니메이션 이름 */
    animation-name: direction2;
    animation-duration:50s;
    /* animation-duration: leaner; */
    animation-iteration-count:infinite;
    animation-direction:normal;
    
    animation-fill-mode: forwards;
  }


  .river > .test3{
   
    width:2000%;
  /* height:14pt; */
  /* background:white; */
 
     
    position:relative;
    /* float: left; */
  
   
    /* 애니메이션 이름 */
    animation-name: direction3;
    animation-duration:30s;
    /* animation-duration: leaner; */
    animation-iteration-count:infinite;
    animation-direction:normal;
    
    animation-fill-mode: forwards;
  }



  
  /* 키프레임 이름 = 애니메이션 이름 */


  @-webkit-keyframes direction {
    from{
      left:-2000px;
    }
    to{
      left:-100px;
    }
  }

  @-webkit-keyframes direction2 {
    from{
      left:-1500px;
    }
    to{
      left:-100px;
    }
  }
  
  @-webkit-keyframes direction3{
    from{
      left:-1000px;
    }
    to{
      left:-100px;
    }
  }
  
  
  
  
 

.center{
    position: absolute;
    display: inline;
    align-items: center;
    justify-content:center;
    /* margin-top: 50px; */
    width: 600px;
    height:300px;
    flex-direction: column;
    overflow: hidden;
    margin-top:440px ;
   right: 220px;
    top:0px;
    z-index: 1;
    
    
}

@keyframes aaa {
    0% {
        left: 0;
        top: 0;
    }
    50% {
        left: 15px;
        top: 0px;
    }
    100% {
        left: 0px;
        top: 0;
    }
    }
    .stage {
    
        position: relative;
        align-items: center;
    justify-content:center;
        margin-top: 00px;
       
    }
    .stage:hover .ball {
        animation-name: aaa;
        animation-duration: 1.5s;
        /* animation-timing-function: ease-in-out; */
        animation-delay: .2s;
        animation-iteration-count: infinite;
    }
    .ball {
        
       
        position: absolute;
    
    }

.alone{
    font-weight: 800;
    margin-bottom: -250px;
    margin-left: 60px;
    /* text-align: center; */
    font-size: 16pt;
    /* background-color: white; */

    

}

.alone span{
    background-color: rgba(255,255,255,0.7)
}

.goliath img{

    width: 600px;
    
    /* width: 20%; */
    
    /* margin-top: 00px; */
    /* margin-right: 300px; */
    /* position: absolute; */
    /* top:75%;
    left:75%; */
    
    /* opacity: 0.7; */
}


/* .goliath img{
    /* display: block;  */
    /* margin: 0px auto; */
    /* width: 40%;} */
   
   


    .play{
        position: relative;
        border: none;
        background-color: black;
font-size: 36px;
text-align: center;
color:white;
width: 50px;

margin-top: 24px;
margin-right: 8px;
    
      
    
        font-size:12pt;
    padding: 4px;}

    .stop{
        
        position: relative;
        background-color:black;
        margin-top: 24px;
        margin-left: 8px;
        font-size: 16pt;
        text-align: center;
        width: 50px;
    
        border: none;
        color:white;
       
    
        font-size: 12pt;
        padding: 4px;}


        .but{display: flex;

           z-index: 1;
            position: fixed;
            
            bottom:24px;
            left: 24px;
            
            /* margin-top: 50px; */
            
        
        color:white;
        }
